body {
  margin: 0;
  min-height: 100vh;

 

}

/* Grid-Zuordnung */
header {

  background: white;
  color: black;
  border-style:  solid;
  padding: 1rem;
  width:auto
}



main {
  grid-area: main;
  display: grid;
  grid-template-columns:0.4fr 2.0fr 1.0fr 1.0fr ;
  
  gap: 0.5rem;
  background: #eee;
    padding: 1rem;
}


button {
  background: blue;
  color: white;
  border-style:  solid;
  border-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
select {
  background: white;
  border-style:  solid;
   padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}  
/* 
#spalte1 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}
  */
#spalte2 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}
#spalte3 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}
#spalte4
 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}
#spalte5
 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}